.Weather {
  border: 1px solid #4f0a5e;
  color: rgb(26, 6, 24);
  padding: 16px;
  border-radius: 10px;
  height: 250px;
  background-color: rgb(113, 56, 143);

  max-width: 600px;
}
body {
  background-color: bisque;
}
.Weather form {
  margin-bottom: 20px;
}
.Weather h1 {
  display: block;
  color: rgb(43, 3, 43);
  font-family: Arial, sans-serif;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin: 20px 0 0 0;
}
.Weather li {
  font-size: 16px;
  font-weight: 100px;
  line-height: 19px;
  list-style: none;
  margin: 0px;
  padding: 0px;
  position: relative;
  left: 70px;
}
.Weather ul {
  margin: 0px;
  padding: 0px;
}
.Temperature {
  font-weight: bold;
  font-size: 40px;
  color: rgb(6, 8, 7);
}
.Unit {
  position: relative;
  bottom: 20px;
}
